.chat-thread {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

/* message */

.message-user {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.message-user .message-text {
  background: #ccc;
  border-radius: .5rem;
  margin-left: 3rem;
  padding: 1rem;
}
.message-label {
  font-size: .75rem;
  color: #666;
}
.message-text {
  margin: 0;
}
